* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
    background-color: darkmagenta;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height:  100vh;
}

.box{
    background-color: antiquewhite;
    padding: 30px;
    border: darkmagenta;
    border-radius: 8px;
}

.box h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: darkorchid;
    font-family: sans-serif;
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: 2px solid rgb(150, 20, 150);
    outline: none;
    font-size: 22px;
}

input ::placeholder {
    font-size: 25px;
}

.button{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
    border: 2px solid rgb(150, 20, 150);
    width: 155px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
}

#btn2{
    margin-left: 85px;
}

#btn1:hover{
    color: antiquewhite;
    background-color: rgb(100, 0, 100);
}